@media(max-width:1100px){
    .footercontainer{
        margin: 0px 10px 70px;
    }
   
}



@media(max-width:992px){
    .nav{
        width: 100% !important;
    }
    nav .p-0{
        width: 100% !important
    }
    .hero{
        padding: 30px 10px 10px;
    }
    .hero .left{
        width: 100%;
    }
    .hero .right{
        margin-top: 20px;
    }
    .herowrapper{
        flex-direction: column;
    }
   
    .herotext{
        width: 100%;
        text-align: center;
    }
    .herophone{
        top: 95%;
        left: 10%;
    }
    .herocresent{
        position: relative;
        bottom: 10%;
        left: 10%;
    }
    .section2wrapper{
        flex-direction: column;
        gap: 0;
    }
    .section2text{
        width: 100%;
    }
    .section2text h2{
        font-size: 30px;
    }
    .section2 .back{
        position: relative;
        left: 45%;
        margin-top: -150px;
    }
    .section3{
        flex-direction: column;
        width: 50%;
    }
    .section3-1{
        width: 100%;
        border: none;
        border-bottom: 1px #5a617c71 solid;
    }
    .section4 a{
        left: 10%;
    }
    .section5{
        flex-direction: column;
    }
    .section5 .top{
        display: none;
    }
    .section5text p{
        width: 100%;
    }
    .section6wrapper{
        flex-direction: column;
    }
    .section6text{
        width: 100%;
        justify-content: center;
        padding: 40px;
    }
    .section6images .human{
        width: 150px;
        height: 100px;
        left: 5%;
    }
    .section6images .topp{
        display: none;
    }
    .section6images .back{
        display: none;
    }
    .section7wrapper{
        flex-direction: column;
    }
    .section7text{
        width: 100%;
        align-items: center;
    }
    .section8{
        padding: 40px 20px;
    }
    .section8wrapper{
        flex-direction: column;
        padding: 0px 20px 20px 20px;
    }
    .section8text{
        width: 100%;
        align-items: center;
    }
    .section8text h2{
        width: 100%;
    }
    .section8text p{
        width: 100%;
    }
    .section8images img{
        margin-bottom: -900px;
        left: 10%;
    }
    .section9{
        padding: 0px;
    }
    .sectionX{
        padding: 80px 20px;
    }
    .sectionX h1{
        width: 100%;
    }
    .sectionX .Xslider{
        flex-direction: column;
    }
    .sectionX .card1 img{
        display: block;
    }
    .sectionX .card1 .cardbottom{
        width: inherit;
    }
    .section12{
        flex-direction: column;
    }
    .sliders{
        flex-direction: column;
    }
    h2{
        width: 100%;
        margin: 0px;
    }
    .footercontainer{
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px 20px 80px;
    }
    .footersocials .social{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .social a{
        margin-right: 30px;
    }
    .flist{
        margin: 0px 0px 10px;
    }
    .section14wrapper{
        flex-direction: column;
    }
    .faq{
        padding: 85px 20px;
    }
    .accordion{
        grid-template-columns: 1fr;
        gap: 1em;
    }
    .faqsection{
        padding: 60px 10px;
    }
    .faqsection .wrapper h2{
        font-size: 30px;
    }
    .faqhero .wrapper h2{
        font-size: 30px;
    }
    .section15{
        padding: 85px 40px;
    }
    .section15 .wrapper{
    flex-direction: column;
    }
    .section16{
        padding: 85px 40px;
    }
    .section16 .wrapper{
    flex-direction: column-reverse;
    }
    .section17{
        padding: 85px 40px;
    }
    .section17 .wrapper{
    flex-direction: column;
    gap: 5em;
    }
    
    .section17 .wrapper .left{
        width: 100%;
    }
    .section18 .left{
        display: none;
    }
}
@media(max-width:623px){
    .section2 .back{
        position: absolute;
        left: 45%;
        margin-top: 0px;
    }
    footer{
        padding: 50px 30px 70px;
    }
    .footercontainer{
        grid-template-columns: 1fr 1fr;
        margin: 0px 0px 40px;
    }
    .faqsection .wrapper h2{
        font-size: 20px;
    }
    .faqhero .wrapper{
        padding: 20px 20px 0px;
    }
    .faqhero .wrapper img{
        display: none;
    }
    .section15{
        padding: 60px 40px;
    }
    .section16{
        padding: 60px 40px;
    }
    .section17{
        padding: 60px 40px;
    }
}
@media(max-width:360px){
    .footercontainer{
        grid-template-columns: 1fr;
        margin: 0px 0px 0px;
    }
    nav .logo{
        width: 150px;
        height: 50px;
    }
    .container-fluid{
        margin: 0px !important;
    }
    .heroback{
        width: 300px;
    }
    .section15 img{
        width: 300px;
    }
    .section16 .left img{
        width: 300px;
        height: 200px;
    }
}
@media(max-width:300px){
    .section2 .photo{
        width: 150px;
        height: 100px;
    }
    .section2 .back{
        width: 100px;
    }
    .section15{
        padding: 50px 20px;
    }
    .section16{
        padding: 50px 20px;
    }
    .heroback{
        width: 150px;
        height: 300px;
    }
    .section15 img{
        width: 200px;
    }
    .section16 .left img{
        width: 200px;
        height: 150px;
    }
}